/*-------------- CODE FOR ALL PAGES - HEADER/BODY/FOOTER ------------------*/

body {
    font-family: 'Montserrat', cursive, mono-space;
    line-height: 1.6em;
    letter-spacing: 0.04em;
    display: block;
}
.header {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 220px;
    padding: 0;
    border-style: none;
}
.navigation li {
    display: none;
}
.navigation li:first-child {
    display: block;
    padding: 0;
}
nav {
    font-family: 'Roboto', sans-serif;
    width:100%;
    font-size: 0.8em;
    background-color: #D3FFF3;
}.navigation {
    list-style: none;
}
nav ol {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ol li a {
	display: block;
	color: #5271FF;
	text-align: center;
	padding: 0.75em;
	text-decoration: none;
}
/* nav a:hover {
    color: #000000;
    background-color: #AFBBF2;
    font-weight: bold;
} */
.responsive li {
    display: block;
}
.active {
    background-color: #8087CE80;
}
main {
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: #5271FF;
}
p {
    font-family: 'Roboto', sans-serif; 
}
.content_box {
    position: relative;
    height: auto;
    margin: 10px;
    padding: 0;
}
.hero-pic img {
    width: 100%;
    border: #000000 1px solid;
    margin: 0;
}

.contact {
    display: flex;
    max-width: 100%;
    padding: 0;
    background-color: #D3FFF3;
}
.map {
    display: none;
    margin: 1em;
}
.contact-info {
    margin: 0 auto;
    text-align: center;
    line-height: 1em;;
    font-size: 0.9em;
}
.social {
    margin: 0 auto;
}
.social img {
    width: 70%;
    border-radius: 50%;
}
footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    background-color: #36454f;
    color: white;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0.4em;
}
footer a {
    color: #0AD3FF;
}

/*-------------- CODE FOR HOME PAGE ------------------*/

.join-action {
    background-color: #D3FFF3;
    padding: 0.5em;
    line-height: 1em;
    font-size: 1em;
    text-align: center;    
}
.join-action h3 {
    color:#5271FF;
    line-height: 1.3em;
    border-bottom: 1px solid #5271FF;
    padding: 5px;
    font-weight: bold;
}
.join-button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    background-color: #5271FF;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
article {
    text-align: center;
    padding: 30px;
}
article h2 {
    margin-top: 40px;
    text-decoration: underline;
}
.bus-pro {
    display: block;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.bus-pro h2 {
    text-decoration: underline;
    margin-top: 40px;
}
.bus-cards section {
    text-align: center;
    padding: 30px;    
}
.bus-cards img {
    width: 30%;
}
.events {
    display: block;
    border-bottom: 2px solid black;
}
.events h2 {
    text-decoration: underline;
    padding-top: 40px;
    width: 70%;
    margin: 0 auto;
}
.event-cards section {
    text-align: center;
    border: 1px solid black;
    background-color: #D3FFF3;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;    
}
.weathersummary {
    display: block;
    max-width: 100%;
    margin-top: 20px;
    padding: 0.5em;
    line-height: 1em;
    font-size: 1em;    
}
.weathersummary h2 {
    text-decoration: underline;
}
.weather-stats {
    margin: 0 auto;
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    background-color: #AFBBF2;
}
.weather-stats th {
    text-align: right;
    color: #000000;
}
.weather-stats td {
    text-align: left;
    color:#000000;
}
.forecast {
    display: block;
    padding: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}
.forecast-tab {
    width: 100%;
    text-align: center;
}
.forecast-tab, .forecast-tab th, .forecast-tab td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.forecast-tab td {
    color: #000000;
    width: 33.33%;
    height: 3em;
} 
.forecast-tab td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.forecast-tab th {
    color: #000000;
    background-color:#AFBBF2;
    padding: 0.5em;
}
.images {
    position: relative;
    height: auto;
    margin: 10px;
    padding: 0;
}
.images h2 {
    text-decoration: underline;
}
.images img {
    width: 100%;
    border: #000000 1px solid;
    margin: 0 auto;
}