body {
    display: block;
    margin: 1em;

}
h1 {
    text-align: center;
}
img[data-src] {
    filter: blur(0.2em);
    }
    
img {
filter: blur(0em);
transition: filter 0s;
}
picture {
    display:block;
    margin: auto;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    padding: 5px;
}
