@media only screen and (min-width: 60em) {
    nav ol li {
        font-size: 1.4em;
    }
    main {
        width: 90%;
    }
    footer {
        font-size: 1em;
    }
    h1, h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.6em;
    }
    
    .content_box {
        font-size: larger;
    }
    
    .contact-info {
        font-size: 1em;
    }
    .social img {
        width: 90%;
        border-radius: 50%;
    }
    iframe {
        width: 500px;
        height: 300px;
    }
    
    figure {
        padding: 5px;
    }
    figure:hover {
        box-shadow: 0 0 50px #333;
    }
/*------------------------------- CODE FOR HOME PAGE ------------------------------------*/
div.cards {
    display: flex; 
}
div.cards section {
    display: block;
}
}