@media only screen and (min-width: 60em) {
    nav ol li {
        font-size: 1.4em;
    }
    main {
        width: 960px;
    }
    footer {
        font-size: 1em;
    }
    h1, h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.6em;
    }
    .weathersummary {
        font-size: 1.4em;;
    }
    .content_box {
        font-size: larger;
    }
    .forecast-tab {
        max-width: 900px;
    }
    .contact-info {
        font-size: 1em;
    }
    .social img {
        width: 90%;
        border-radius: 50%;
    }
    iframe {
        width: 500px;
        height: 300px;
    }
}